<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
       <<header class="inner">
         <!-- {% if site.github.is_project_page %} -->
           <!-- <a id="forkme_banner" target="_blank" href="https://github.com/transcelerate">TransCelerate on GitHub</a> -->
          <!--{% endif %} -->

         <<h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
         <!-- <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->
          
         <!-- {% if site.show_downloads %} -->
         <!--   <section id="downloads"> -->
         <!--     <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a> -->
         <!--     <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a> -->
          <!--  </section> -->
         <!-- {% endif %} -->
        <</header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <!-- BEGIN CUSTOM CONTENT -->
      <div>
        <section id="navigation_meu" class="inner">
          | {% for item in site.data.menu.docs %}
              <a href="{{ item.url }}">{{ item.title }}</a> | 
          {% endfor %}
        </section>
      </div>
      <!-- END CUSTOM CONTENT -->
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <!-- BEGIN CUSTOM CONTENT - Contact Information -->
      <div id="footer_contact_information" class="inner">
        
      </div>
      <!-- END CUSTOM CONTENT - Contact Information -->
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p><a href="code-of-conduct.html">Code of Conduct</a></p>
        <p><a href="contribution-license-agreement.html">Contribution License Agreement</a></p>
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
  </body>
</html>
